- @meta[:title] = "Covoiturage libre et gratuit #{trip_title(@trip, '-')}"
- @meta[:description] = "Détail du trajet covoiturage gratuit et libre #{trip_title(@trip)}"

%p= link_to '&larr; Retour aux résutats'.html_safe, :back

.page-header
  %h1
    ="Voyage de #{@trip.point_from.city} à #{@trip.point_to.city} le #{l @trip.point_from.departure_date, format: :trip_date}"

.row
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-2
            Départ
          .col-xs-3
            %strong= @trip.point_from.city
          .col-xs-5
            à
            %strong=l @trip.point_from.departure_time, format: :short
            =l @trip.point_from.departure_date, format: :trip_date_without_the_year
        - @trip.step_points.each do |point|
          .row
            .col-xs-2
              Étape
            .col-xs-3
              %strong= point.city
            .col-xs-5
              à
              %strong=l point.departure_time, format: :short
              =l point.departure_date, format: :trip_date_without_the_year
        .row
          .col-xs-2
            Arrivée
          .col-xs-3
            %strong= @trip.point_to.city
          .col-xs-5
            à
            %strong=l @trip.point_to.departure_time, format: :short
            =l @trip.point_to.departure_date, format: :trip_date_without_the_year
        -# @trip.points.combination(2) do |a_start_point, a_end_point|
        - for a_start_point_in_index in 0..(@trip.points.length() -1)
          - a_start_point = @trip.points[a_start_point_in_index]
          %hr
          - for a_end_point_in_index in (a_start_point_in_index +1).. (@trip.points.length() -1)
            - a_end_point = @trip.points[a_end_point_in_index]
            .row
              .col-xs-5
                = a_start_point.city
                = '->'
                = a_end_point.city
              - if @trip.get_the_minimum_price_with_zero_instead_of_nil <= @trip.calculate_the_price_between_two_points_in_index(a_start_point_in_index, a_end_point_in_index)
                .col-xs-2
                  .small_price= number_to_currency @trip.calculate_the_price_between_two_points_in_index(a_start_point_in_index, a_end_point_in_index), precision: 0
                .col-xs-3
                  = 'en ' + display_ddhhmm_from_a_time_duration_in_seconds(trip_duration(a_start_point.departure_date, a_start_point.departure_time, a_end_point.departure_date, a_end_point.departure_time))
                .col-xs-2
                  %strong= display_from_integer_to_text_the_number_of_available_seats(@trip.calculate_the_available_seats_between_two_points_in_index(a_start_point_in_index, a_end_point_in_index))
              - else
                .col-xs-7
                  = 'Non disponible pour le moment, le conducteur a fixé un prix minimum'
        .row
          .col-xs-4
            =t Trip.human_attribute_name(:comfort)
          .col-xs-8
            %strong=t :"activerecord.attributes.trip.comfort_#{@trip.comfort}"
        .row
          .col-xs-4
            Fumeur
          .col-xs-8
            =t :"activerecord.attributes.trip.smoking_#{@trip.smoking}"

    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %strong Itinéraire :
          = trip_steps_breadcrumb(@trip)
      .panel-body
        #route-wrapper
          #route

  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-8
            .driver
              .avatar= image_tag('covoiturage-avatar-default2.png')
              .info
                .name= @trip.name
                .age= "#{@trip.age} ans" if @trip.age.present?
                .sex=t :"activerecord.attributes.trip.title_#{@trip.title}"
                .phone#phone
                  - if @trip.phone.present?
                    = link_to 'Afficher le numéro de téléphone', trip_phone_path(@trip), class: 'btn btn-warning', remote: true, disable_with: 'En attente...'
          - if @trip.seats
            .col-md-4
              .main_seats
                - if @trip.seats == 0
                  Complet
                - else
                  = "#{@trip.seats} place#{'s' if @trip.seats > 1}"
        .row
          .col-md-9.col-md-offset-1
            %br
            = "Commentaire de #{@trip.name} :"
            .well= nl2br @trip.description

    .panel.panel-default
      .panel-body
        #message_zone
          .message#message-wrapper
            = render 'messages/form'
    .panel.panel-default
      .panel-body
        .trip-ownership
          %p C'est votre annonce et vous souhaitez la modifier/supprimer ? Utilisez les liens présents dans le courriel de gestion que vous avez reçu lors de la confirmation de l'annonce.
          %p
            Vous avez perdu le courriel de gestion de l'annonce ?
            = link_to 'Cliquez ici', resend_information_email_trip_path(@trip.edition_token)
            pour le recevoir à nouveau.

- content_for :javascript_footer do
  :javascript

    var tripPoints = [];

    $.getJSON( "#{points_trip_path(@trip)}", function( data ) {
      $.each( data, function( index, item ) {
        tripPoints.push([parseFloat(item.lat), parseFloat(item.lon)]);
      });

      var map = L.map('route').setView(tripPoints[0], 1);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      L.Routing.control({
        plan: L.Routing.plan(tripPoints, {
          draggableWaypoints: false, // disable live edit on map
          addWaypoints: false,
        }),
        routeWhileDragging: true,
        show: false, // setting show to false hides the directions text block
        // disable live edit on map
        lineOptions : {
          addWaypoints: false
        }
      }).addTo(map);
    });
